.form-control{
	width: 30%;
}
.btn-primary{
	width: 100px;
	
}
.form-group{
	margin-left: 39%;
	margin-top: 3%;
	
}

#first{
	margin-left: 45.5%;
	margin-top: 1%;
	font-family: fantasy;
}

#div1{
	width: 615px;
	background-color: lightblue;
	overflow: hidden;
	margin-left: 33%;
	margin-top: 1%;
	background: #F9F9F9;
	color: #555;
	box-shadow: 0 4px 10px #EEEEEE;
	position: relative;
	border: 4px solid #EEEEEE !important;
	border-radius:10px;
	font-family: cursive;
	}
#div2{
	width: 600px;
	margin-left: 3%;
}
#div3{
	float: right;
	margin-right: 5%;
	margin-bottom: 3%;
}

#input1{
	font-family: cursive;
}
#title1{
	float: left;
	margin-top: 3%;
	font-family: cursive;
}
#date1{
	float: right;
	margin-top: 3%;
	margin-right: 5%;
	font-family: cursive;
}
#description1{
	float: left;
	margin-top: 3%;
	margin-right:90%;
	font-family: fantasy;
}
#p1{
	width: 589px;
	padding-right: 3%;
	margin-top: 7%;
	color: #777;
	text-decoration: none;
	font-family: cursive;
}
