.form-control{
	width: 30%;
}
.btn-primary{
	width: 100px;
	
}
.form-group{
	margin-left: 39%;
	margin-top: 3%;
	
}

#first{
	margin-left: 45.5%;
	margin-top: 1%;
	font-family: fantasy;
}

#mainpage{
	width: 100%;
	height: 100%;
	background-color: red;
}
#header{
	width: 100%;
	height: 10%;
	background-color: lightblue;
	margin-top: 1%;
	float: left;
}

#headerleft{
	width: 30%;
	float: left;
	background-color: lightgrey;
}
#headercenter{
	width: 40%;
	float: left;
	
}
#headerright{
	width: 30%;
	
	float: left;
}
#input2{
	float: right;
	margin-right: 5%;
	margin-top: 0.8%;
}